################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/angular-async/.vscode
/angular-async/package-lock.json
