<!--<div>
    <h3>{{title}}</h3>
    <ul *ngFor="let i of data">
       <li>{{i.id}}: {{i.name}}</li>
    </ul>
 </div>-->

 <app-notification-board></app-notification-board>

 <ul class="nav">
   <li class="nav-item">
     <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="contact">Contact</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="about">About</a>
   </li>
   <li class="nav-item">
     <a class="nav-link disabled">Disabled</a>
   </li>
 </ul>
 <router-outlet></router-outlet>